#map {
	margin: 20px 50px;
	height: 550px;
}

@media screen and (max-width: 450px) {
	#map {
		width: 80%;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.popup-header {
		margin: 5px;
	}
	.popup-meaning {
		margin: 0px;
	}
	.popup-height {
		margin: 0px;
	}
}
@media screen and (min-width: 450px) {
	.popup-meaning {
		display: none;
	}
}
