td {
	border-top: solid 1px grey;
	border-bottom: solid 1px grey;
	padding: 5px;
}
table {
	border: solid 1px grey;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
#climbed-button {
	background-color: red;
	font-size: 16px;
	font-weight: bold;
	color: white;
	border: solid 1px darkred;
	border-radius: 10px;
	padding: 3px 12px;
}
#conquered-button {
	background-color: green;
	font-size: 16px;
	font-weight: bold;
	color: white;
	border: solid 1px darkgreen;
	border-radius: 10px;
	padding: 3px 12px;
}
th {
	padding: 5px;
}
#dropbox {
	font-size: 40px;
}

@media screen and (max-width: 450px) {
	.meaning {
		display: none;
	}
}
